[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "extraSuperpower"]
	path = extraSuperpower
	url = https://github.com/luisrmacias/extrasuperpower
